#game {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
