#game {
  display: flex;
  flex-wrap: wrap;
  width: 305px;
  height: 305px;
  border: 1px solid black;
}

.row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-weight: 100;
  font-family:'Courier New', Courier, monospace;
  font-size: 100px;
}
